<!DOCTYPE html>
{% autoescape true %}
<head>
  <title>{% block title %}There is no place like Spone{% endblock %}</title>
  <link type="text/css" rel="stylesheet" href="/sheets/style.css" />
</head>
<html>
  <body>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- left menu -->
    {% block leftmenu %}
    <div id="navAlpha">
        <p>
            <a href="/" title="SponeTube">Home</a> <br/><br/>
            <a href="" title="">- YouTube top 10 (tbd)</a> <br/>
            <a href="" title="">- SponeTube top 10 (tbd)</a> <br/>
        </p>
    </div>
    {% endblock %}

    <!-- right menu -->
    {% block rightmenu %}
    <div id="navBeta">
        <h2>About</h2>
        <p>Say some things about <a href="http://sponetube.appspot.com">SponeTube</a>, talk and link stuff about the <a href="http://en.wikipedia.org/wiki/Voyager_2">Voyager 2</a> spaceship and the <a href="http://exoplanetarchive.ipac.caltech.edu/">Exoplanets database</a> and <a href="http://exoplanet.eu/catalog/all_fields/">API</a> you are using. You means Me, in this context. But alas, nobody will read this anyway.</p>
    </div>
    {% endblock %}

    <!-- footer -->
    <div class="content" id="footer">
        <p>&copy; 2013 | <a href="mailto:samumatt@gmail.com">Samuele Mattiuzzo</a></p>
    </div>

  </body>
</html>
{% endautoescape %}