{% extends "templates/base.html" %}

{% block content %}

    <h1>SponeTube</h1>
    <h2>Can a YouTube hit feed the Voyager 2 spaceship? For how long</h2>

    <p>
        Paste the URL of a <a href="http://youtube.com">YouTube</a> video and witness with your eyes
        where this video could take the Voyager 2 spaceship. <br/><br/>

        Check what happens with the international hit <a href="http://www.youtube.com/watch?v=9bZkp7q19f0">Gangnam Style</a> (http://www.youtube.com/watch?v=9bZkp7q19f0).
    </p>

    <br/>
    <form action="/" method="post">
        <input type="text" id="videourl" name="videourl" style="width: 350px;" />
        <br/><br/><input type="submit" value="Spone me!" style="height: 25px;" />
    </form>

{% endblock content %}